{% extends 'base.html' %}

{% block content %}
<div class="ms-3">
    <h1 class="fw-normal mb-4">Статусы</h1>
    <a href="{% url 'status_create' %}" class="btn btn-primary mb-4">Создать статус</a>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="fw-normal">ID</th>
                <th class="fw-normal">Имя</th>
                <th class="fw-normal">Дата создания</th>
                <th class="fw-normal"></th>
            </tr>
        </thead>
        <tbody>
            {% for status in statuses %}
            <tr>
                <td>{{ status.id }}</td>
                <td>{{ status.name }}</td>
                <td>{{ status.created_at|date:"d.m.Y H:i" }}</td>
                <td>
                    <div class="d-flex flex-column">
                        <a href="{% url 'status_update' status.pk %}" class="text-primary text-decoration-underline">Изменить</a>
                        <a href="{% url 'status_delete' status.pk %}" class="text-primary text-decoration-underline">Удалить</a>
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center">Нет статусов</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
