{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-11 col-lg-9">
        <div class="card bg-light border-secondary-subtle rounded-3 shadow-sm">
            <div class="card-body p-5">
                <h2 class="card-title fw-normal display-4">Привет от Хекслета!</h2>
                <p class="card-text text-dark fs-5 mt-4">Практические курсы по программированию</p>
                <hr class="border-secondary-subtle my-4">
                <div class="mt-4">
                    <a href="https://ru.hexlet.io" class="btn btn-primary px-4 py-2">Узнать больше</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
