{% extends 'base.html' %}

{% block content %}
<div class="ms-3">
    <h1 class="fw-normal mb-4">Вход</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_username" class="form-label fw-normal text-dark mb-1">Имя пользователя</label>
            <input type="text" name="username" id="id_username" class="form-control" placeholder="Имя пользователя" required>
        </div>
        <div class="mb-3">
            <label for="id_password" class="form-label fw-normal text-dark mb-1">Пароль</label>
            <input type="password" name="password" id="id_password" class="form-control" placeholder="Пароль" required>
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>
</div>
{% endblock %}
