{% extends 'base.html' %}

{% block content %}
<div class="ms-3">
    <h1 class="fw-normal mb-4">Регистрация</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_username" class="form-label fw-normal text-dark mb-1">Имя пользователя</label>
            <input type="text" name="username" id="id_username" class="form-control" placeholder="Имя пользователя" required>
            <small class="text-muted">Обязательное поле. Не более 150 символов. Только буквы, цифры и символы @/./+/-/_.</small>
        </div>
        <div class="mb-3">
            <label for="id_password1" class="form-label fw-normal text-dark mb-1">Пароль</label>
            <input type="password" name="password1" id="id_password1" class="form-control" placeholder="Пароль" required>
        </div>
        <div class="mb-3">
            <label for="id_password2" class="form-label fw-normal text-dark mb-1">Подтверждение пароля</label>
            <input type="password" name="password2" id="id_password2" class="form-control" placeholder="Подтверждение пароля" required>
            <small class="text-muted">Для подтверждения введите, пожалуйста, пароль ещё раз.</small>
        </div>
        <button type="submit" class="btn btn-primary">Зарегистрировать</button>
    </form>
</div>
{% endblock %}
