{% extends 'base.html' %}

{% block content %}
<div class="ms-3">
    <h1 class="fw-normal mb-4">Изменение статуса</h1>
    
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_name" class="form-label fw-normal text-dark mb-1">Имя</label>
            <input type="text" name="name" id="id_name" class="form-control w-50" value="{{ form.name.value|default:'' }}" required>
            {% if form.name.errors %}
                <div class="text-danger small">
                    {% for error in form.name.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Изменить</button>
    </form>
</div>
{% endblock %}
